<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HogWildWebApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <!-- NavLink to expand or collapse the Sample Pages section -->
            <NavLink class="nav-link" @onclick="()=>expandSamplePages = !expandSamplePages">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sample Pages
            </NavLink>
    
            <!-- Check if the Sample Pages section is expanded -->
            @if (expandSamplePages)
            {
                <!-- Nested NavLink within the Sample Pages section -->
                <NavLink class="nav-link" href="/SamplePages/Basics">
                    <span>Basic</span>
                </NavLink>
            }  

            <!-- Check if the Sample Pages section is expanded -->
            @if (expandSamplePages)
            {
                <!-- Nested NavLink within the Sample Pages section -->
                <NavLink class="nav-link" href="/SamplePages/WorkingVersions">
                    <span>Working Versions</span>
                </NavLink>
            }  
            
            <!-- Check if the Sample Pages section is expanded -->
            @if (expandSamplePages)
            {
                <!-- Nested NavLink within the Sample Pages section -->
                <NavLink class="nav-link" href="/SamplePages/CustomerList">
                    <span>Customers</span>
                </NavLink>
            }  
            
            <!-- Check if the Sample Pages section is expanded -->
            @if (expandSamplePages)
            {
                <!-- Nested NavLink within the Sample Pages section -->
                <NavLink class="nav-link" href="/SamplePages/SimpleListToList">
                    <span>Simple List To List</span>
                </NavLink>
            }  
            
            <!-- Check if the Sample Pages section is expanded -->
            @if (expandSamplePages)
            {
                <!-- Nested NavLink within the Sample Pages section -->
                <NavLink class="nav-link" href="/SamplePages/SimpleNonIndexList">
                    <span>Simple NonIndex List</span>
                </NavLink>
            }  
            
            
        </div>
    </nav>
</div>

@code {
    // Holds the current state of the Sample Pages section toggle
    private bool expandSamplePages;

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    
}
